<html>
<head>
<!-- rel attribute and href attribute are linking current document to an external style sheet, in this case to css. CSS describes how elements are displayed on screen -->
<!-- backroundcolor is greenish (#b8dec2) and font-color is black. Font-size differs.-->
<!-- padding (spaces around elements content) differs-->
<!-- formstyle is a jQuery plugin that helps stylize form elements-->
<!-- the margin-bottom property sets the bottom margin of an element-->

<!-- &trade for the TM character-->
<!-- h1 is header one. h2 is header two-->
<!-- the class attribute is used to define equal styles for elements with the same class name-->
<!-- the type attribute specifies the type of button -->
<!-- the name attribute specifies the name for the element-->
<!-- &copy is the copyright sign-->
<!-- <input type = "submit" class="formstyle"/> is an input field with a submit button-->
<!-- <img style="width:170px;" src="https://cdn4.iconfinder.com/data/icons/add-1/60/barcode-512.png"> is the image of a barcode -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
        <style>
        h1 {
  color: red;
  font-size: 80px;
  
}

body{
  background-color:#b8dec2;
}

.mystyle2{
  color: #383838;
  font-size: 30px;
  padding:0px;
  margin-bottom:30px;
}

.mystyle{
  color: #383838;
  font-size: 60px;
  padding:20px;
}
 
.formstyle{
  color: black;
  font-size: 20px;
  padding:10px;
}
        </style>
</head>
    <body>
        <center>
        <div style='padding: 100px;'>
            <img style="width:170px;" src="https://cdn4.iconfinder.com/data/icons/add-1/60/barcode-512.png">
            <h1 class="mystyle">SplitScan&trade;</h1>
            <h2 class="mystyle2">The next generation in receipt scanning, powered by AI.</h2>
            <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file"  class="formstyle" />
            <input type = "submit" class="formstyle"/>
            </form>
            <br>
            <p class="">&copy; December 2019 by Hannah, Benjamin and Luca. All rights reserved.</p>
        </div></center>
    </body>
</html>